<nav class="navbar navbar-inverse shadow-z-2">
    <div class="container-fluid" >
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapser">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">UTD Chat Room <span id="version" style="font-size:7pt"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="collapser">
            <ul class="nav navbar-nav navbar-left">
                <li role="presentation"><a target="_self" ng-click="settingInstance()">Setting</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation"><a href="#/login" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>